
/* intestazione */
/* barra menù */
.top-header {
  height: 70px;
  border-radius: 1px solid black;
  line-height: 70px;
}



.img-logo {
  width: 60px;
}



.f-nav, .nav-login  {
  text-align: right;
  font-size: 10px;
}

.top-header li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;

}

.nav-login {
  text-align: left;
}

.icon {
  padding-left: 5px;
}
.btn-nav {
  background-color: #000;
  color: #fff;
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
}

.bar {
  text-align: right;
  height: 70px;
  line-height: 70px;
}
/* barra menù */
/* hero */

.hero {
  height: 600px;
  position: relative;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p, h1{
 color: #fff;
 text-align: center;
}

h1 {
  font-size: 45px;
  text-transform: capitalize;
}

p {
  padding: 20px 0;
}

.img-pay img {
  width: 150px;
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 769px) {
  .img-pay img {
    width: 100px;
    display: block;
    margin: 20px auto;
  }
}
/* /hero */
/* /header */
