.img-logo {
  max-width: 60px;
}

.header-top {
  height: 50px;
}
.container {
  border: 1px solid black;
}
.l-menu {
  line-height: 50px;
}

.menu-nav{
  /* height: 50px; */
}

.in-nav {
  display: inline-block;
  text-align: right;
}

.nav-login {
 display: inline-block;
}

.list-nav li, .nav-login li {
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
  font-size: 10px;
}

.nav-login i {
  padding-left: 10px;
}

.login-li {
  background: #000000;
  color: #fff;
  padding: 15px 25px;
}
